@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100&family=Merriweather:ital,wght@1,300;1,400&family=Poppins:ital,wght@1,400;1,700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #192329;
  background-image: url("./images/topography.svg");
  font-family: "Poppins", sans-serif;
  
	overflow-x:hidden;
}

a,
h1,
h2,
h3,
span,
p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

input:hover,
input:active,
input:focus {
  outline-style: none;
  border: 0;
}

.World{
	width:100vw;
}

/* Remoev this after fix */
.warning {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

/* Mobile */
.Navbar {
  background-color: #191828;
  width: 100%;
  height: 5vh;
  position: sticky;
  top: 0;
  color: white;
  z-index: 5;
  box-shadow: 0 5px 10px black;
}
.Navbar .NavbarContent {
  /* background-color: #2dd4bf; */
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
.Navbar .NavbarContent .sources {
  display: flex;
  justify-content: space-evenly;
  min-width: 150px;
  margin: auto 0;
}

.Navbar .NavbarContent .sources a {
  background-color: #f75d5d;
  border-radius: 35px;
  padding: 0 5px 8px 5px;
  height: 15px;
}
.Navbar .NavbarContent .sources a img {
  height: 15px;
}
.Header {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  margin-bottom: 45px;
}
.Header .vanta {
  width: 100%;
}
.Header canvas {
  box-shadow: 0 0 15px black;
}
.Header .Header-Overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-size: 0.9em;

  z-index: 2;
}

.Header .Header-Overlay .Header-Overlay-Content {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  backdrop-filter: blur(1px);
}

.Header .Header-Overlay * {
  /* font-size: 2em; */
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.Header .Header-Overlay p {
  opacity: 0.75;
}
.Header .Header-Overlay h3 {
  font-weight: 500;
}
.categoryContainer {
  box-shadow: 5px 2px #2dd4bf;
  color: white;
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  backdrop-filter: blur(5px);
  background-color: #191828;
}
.categoryContainer .categoryButton {
  width: min-content;
  height: 50px;
  margin-left: 2%;
}
.categoryContainer .categoryList {
  margin: auto;
  width: 75%;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 5px 0px;
}

.categoryList .type {
  display: flex;
}
.categoryList .type button {
  word-break: break-all;
  background-color: #2dd4bf;
  color: black;
  box-shadow: 0 0 2px black;
  border: none;
  padding: 5px 10px;
  width: 105px;
  min-height: 25px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.categoryList .type button:hover {
  background-color: white;
  color: black;
}
.SearchBar {
  display: flex;
  justify-content: center;
  height: 25px;
}
.SearchBar input {
  height: 10px;
  max-width: 50px;
  border-radius: 10px;
  border: #191828 5px solid;
  padding: 0 10px;
  background-color: #d6e5eb;

  transition: all ease 0.25s;
}

.SearchBar input:focus {
  height: 30px;
  max-width: 150px;
}

.articleContainer {
	margin:auto;
	overflow-y:scroll;
	overflow-x:hidden;
  display: flex;
  flex-direction:column;
  height:500px;
  width: 50%;
  gap: 15px;
  margin-top: 25px;
  -webkit-mask-image: linear-gradient(0deg, transparent 0px, black 100px);
}

.articleContainer .articleCard {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
  width: 95%;
  height: 25px;
  padding: 10px;
  background-color: #040D13;
  box-shadow: 5px 2px #2dd4bf;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  
}
.articleContainer hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 2px;
  background-color: #0d1215;
  margin: 5px 0;
}

.articleContainer .articleCard .articleCard-title {
  font-size: 1.3em;
  background-color: #2dd4bf;
  border-radius: 5px;
}
.articleContainer .articleCard .articleCard-date {
  font-size: 0.9em;
}
.articleContainer .articleCard .articleCard-summary {
  font-size: 0.8em;
  opacity: 0.95;
 
}

.articleContainer .articleCard:hover,
.articleContainer .articleCard:active {
  background-color: #d7c6b1;
}

.Featured{
	height: 550px;
	color:white;
	width:100%;
}
.Featured h3{
	margin-left:45%;
	margin-top:25%;
	font-size:5em;
}
.Featured h3 span{
	color:#DC143C;
}

/* .Footer{ */
	/* height: 250px; */
	
	/* background-color: black; */
/* } */

.data404 {
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 0 1px 0 #f75d5d, 0 2px 0 black, 0 3px 0 #f75d5d, 0 4px 0 black,
    0 5px 0 #f75d5d, 0 6px 0 black;
}

.Statistics{
	margin-top:55px;
	padding:75px;
	display:flex;
	justify-content:row;
	height:550px;
	background-color:#040D13;
}

@media only screen and (max-width: 600px) {
	.articleContainer {
	margin:auto;
	overflow-y:scroll;
	overflow-x:hidden;
	  display: flex;
	  flex-direction:column;
	  height:500px;
	  width: 75%;
	  gap: 15px;
	  margin-top: 25px;
	  -webkit-mask-image: linear-gradient(0deg, transparent 0px, black 100px);
	}
	.articleContainer .articleCard {
	  font-size: 0.8em;
	  font-weight: bold;
	  color: white;
	  width: 100%;
	  height: 50px;
	  padding: 0px;
	  background-color: #040D13;
	  box-shadow: 5px 2px #2dd4bf;
	  display: grid;
	  grid-template-columns: 75px 1fr 1fr 1fr;
	  gap: 5px;
	  
	}
	
	.articleContainer .articleCard .articleCard-title {
		margin: auto;
	  font-size: 1em;
	  background-color: #2dd4bf;
	  border-radius: 5px;
	}
	.articleContainer .articleCard .articleCard-date {
		margin: auto;
	  font-size: 0.6em;
	}
	.articleContainer .articleCard .articleCard-summary {
		margin: auto;
	  font-size: 0.6em;
	  opacity: 0.95;
	 
	}
	
	.Statistics{
		margin-top:55px;
		padding:5px;
		display:flex;
		justify-content:row;
		height:550px;
		background-color:#040D13;
	}

	.Chart{
		font-size:0.7em;
		margin-left: -50px;
	}
	
	
	.Featured{
		height: 550px;
		color:white;
		width:100%;
	}
	.Featured h3{
		margin-left:5%;
		margin-top:25%;
		font-size:4em;
	}
	.Featured h3 span{
		color:#DC143C;
	}
	
}
@media only screen and (min-width: 1200px) {

  .Header .vanta {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  }
  .Header .Header-Overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2em;
    color: white;
    font-size: 3em;
    z-index: 2;
  }

  .Header .Header-Overlay .Header-Overlay-Content {
    display: flex;
    width: min-content;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    backdrop-filter: blur(0px);
  }

  .Header .Header-Overlay * {
    padding-left: 3%;
    /* font-size: 2em; */
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  .Header .Header-Overlay p {
    opacity: 0.75;
  }
  .Header .Header-Overlay h3 {
    font-weight: 500;
  }

}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}