@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100&family=Merriweather:ital,wght@1,300;1,400&family=Poppins:ital,wght@1,400;1,700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #192329;
  background-image: url("./images/topography.svg");
  font-family: "Poppins", sans-serif;
}

a,
h1,
h2,
h3,
span,
p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

input:hover,
input:active,
input:focus {
  outline-style: none;
  border: 0;
}

/* Mobile */
.Header {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  margin-bottom: 45px;
}
.Header .vanta {
  width: 100%;
}
.Header canvas {
  box-shadow: 0 0 15px black;
}
.Header .Header-Overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-size: 0.9em;

  z-index: 2;
  text-shadow: 1px 1px 0 black, 2px 2px 0 black, 3px 3px 0 black;
}

.Header .Header-Overlay .Header-Overlay-Content {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  backdrop-filter: blur(1px);
}

.Header .Header-Overlay * {
  /* font-size: 2em; */
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.Header .Header-Overlay p {
  opacity: 0.75;
}
.Header .Header-Overlay h3 {
  font-weight: 500;
}
.categoryContainer {
  color: white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  backdrop-filter: blur(5px);
  background-color: #191828;
  border-radius: 35px;
}
.categoryContainer .categoryButton {
  width: min-content;
  height: 50px;
  margin-left: 2%;
}
.categoryContainer .categoryList {
  margin: auto;
  width: 75%;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 25px 25px;
}

.categoryList .type {
  display: flex;
}
.categoryList .type button {
  word-break: break-all;
  background-color: #251929;
  color: white;
  box-shadow: 0 0 2px black;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  width: 105px;
  min-height: 50px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 1px;
}
.categoryList .type button:hover {
  background-color: white;
  color: black;
}
.SearchBar {
  display: flex;
  justify-content: center;
  height: 35px;
}
.SearchBar input {
  height: 30px;
  max-width: 450px;
  border-radius: 10px;
  border: #191828 5px solid;
  padding: 0 10px;
  background-color: #d6e5eb;
}

.articleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.articleContainer .articleCard {
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  width: 280px;
  min-height: 75px;
  padding: 10px;
  background-color: #d6e5eb;
  box-shadow: -2px 2px 2px #282919;
  border-radius: 15px;
}
.articleContainer hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 2px;
  background-color: #0d1215;
  margin: 5px 0;
}

.articleContainer .articleCard .articleCard-title {
  font-size: 1.3em;
}
.articleContainer .articleCard .articleCard-date {
  font-size: 0.9em;
}
.articleContainer .articleCard .articleCard-summary {
  font-size: 0.8em;
  opacity: 0.95;
}

.articleContainer .articleCard:hover,
.articleContainer .articleCard:active {
  background-color: #d7c6b1;
}

.data404 {
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 0 1px 0 #f75d5d, 0 2px 0 black, 0 3px 0 #f75d5d, 0 4px 0 black,
    0 5px 0 #f75d5d, 0 6px 0 black;
}

/* DESKTOP */
@media only screen and (min-width: 1200px) {
  .Header .vanta {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
  }
  .Header .Header-Overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2em;
    color: white;
    font-size: 1.5em;

    z-index: 2;
    text-shadow: 1px 1px 0 black, 2px 2px 0 black, 3px 3px 0 black;
  }

  .Header .Header-Overlay .Header-Overlay-Content {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    backdrop-filter: blur(0px);
  }

  .Header .Header-Overlay * {
    padding-left: 10%;
    /* font-size: 2em; */
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  .Header .Header-Overlay p {
    opacity: 0.75;
  }
  .Header .Header-Overlay h3 {
    font-weight: 500;
  }
  .categoryList .type button {
    word-break: break-all;
    background-color: #251929;
    color: white;
    box-shadow: 0 0 2px black;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    width: 175px;
    min-height: 50px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
